{% extends 'base.html' %}
{% load static %}
{% block main_content %}
  
    <div class="row">
      <div class="col s12">
        <div class="container"><div id="register-page" class="row">
  <div class="col s12 m6 l4 z-depth-4 card-panel border-radius-6 register-card bg-opacity-8">
    <form class="login-form">
      <div class="row">
        <div class="input-field col s12">
          <h5 class="ml-4">Register</h5>
          <p class="ml-4">Join to our community now !</p>
        </div>
      </div>
      <p>
      {% for role in roles %}
			<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="inlineRadioOptions" id="role_{{role.id}}" value="{{role.id}}">
					<label class="form-check-label" for="role_{{role.id}}">I'm {{role}}</label>
			</div>
			{% endfor %}
      </p>
							
      <div class="row margin">
        <div class="input-field col s12">
          <i class="material-icons prefix pt-2">mail_outline</i>
          <input id="email" type="email">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="material-icons prefix pt-2">lock_outline</i>
          <input id="password" type="password">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="material-icons prefix pt-2">phone</i>
          <input id="mobile number" type="text">
          <label for="mobile number">Mobile Number</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <a href="{% url 'login_page' %}" class="btn waves-effect waves-light border-round gradient-45deg-purple-deep-orange col s12">Register</a>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <p class="margin medium-small"><a href="{% url 'login_page' %}">Already have an account? Login</a></p>
        </div>
      </div>
    </form>
  </div>
</div>
        </div>
        <div class="content-overlay"></div>
      </div>
    </div>

    {% endblock %}